.joke-text {
  background: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*The column value stacks the flex items vertically (from top to bottom)*/
  background-color: black;
}

.flex-container>h1 {
  color: white;
}

.flex-container>img {
  width: 25rem;
  /*rem -> root em*/
  height: 25rem;
  padding-bottom: 3rem;
}